@media screen and (max-width: 1280px) {
  /* ---------------navbar-------------------- */
  #nav-bar .container-nobtstrap img {
    display: none;
  }
  #nav-bar .container-nobtstrap .nav-name {
    display: none;
  }
  #nav-bar .container-nobtstrap a {
    padding: 0px;
    margin: 0px;
    border-right: 2px solid white;
  }
  /* -------------- certificate --------------- */
  #certificate .container {
    margin-left: 0px;
  }
  #certificate .container-nobtstrap {
    /* Notes: To fix that problem, I use width 100% to let the content that is wrapped 
              inside class "container-bootstrap" will responsive due to the size of the section */
    width: 100%;
  }
  /* ---------------project ------------------- */
  /* Adding margin between projects */
  #project .container-nobtstrap img {
    max-width: 100%;
    max-height: 100%;
  }
  #project .container-nobtstrap {
    width: 100%;
  }
  /* #project .list-project {
    margin-left: 20px;
    margin-right: 20px;
  } */
  /* ------------------ footer ------------------ */
  #footer i {
    width: 100%;
  }
  #footer .container-nobtstrap {
    width: 100%;
  }
}
